@model IEnumerable<MarqueSeuFut.Models.Partida>

@{
    ViewData["Title"] = "Partidas";
}

<h3></h3>
<h2 align="center">Minhas Partidas</h2>

<p>
    <a asp-action="Create">Adicionar Nova Partida</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quadra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeVisitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quadra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCasa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeVisitante.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
