@model IEnumerable<MarqueSeuFut.Models.Time>

@{
    ViewData["Title"] = "Times";
}


<h1>Times</h1>


<table id="jose" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFundacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-area="" asp-controller="Perfis" asp-action="Index">  @Html.DisplayFor(modelItem => item.Nome ) </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFundacao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
    $(document).ready(function() {
    $('#jose').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        }
    } );
} );    
    </script>
}